# ===== PostgreSQL 16 (PostGIS) =====
POSTGRES_USER=ecopoint
POSTGRES_PASSWORD=ecopoint_secret
POSTGRES_DB=ecopoint
POSTGRES_PORT=5432
# CSV danh sách database con sẽ được script init tự tạo
POSTGRES_MULTIPLE_DATABASES=db_user,db_booking,db_point,db_reward

# ===== MongoDB 7 =====
MONGO_INITDB_ROOT_USERNAME=ecopoint
MONGO_INITDB_ROOT_PASSWORD=ecopoint_secret
MONGO_PORT=27017

# ===== Redis 7 =====
REDIS_PASSWORD=ecopoint_secret
REDIS_PORT=6379

# ===== Kafka (KRaft, no Zookeeper) =====
KAFKA_PORT=9092
KAFKA_UI_PORT=8080

# ===== MinIO =====
MINIO_ROOT_USER=ecopoint
MINIO_ROOT_PASSWORD=ecopoint_secret
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
