PORT=4000

USER_SERVICE_URL=http://localhost:50051
BOOKING_SERVICE_URL=http://localhost:50052
POINT_SERVICE_URL=http://localhost:50053
REWARD_SERVICE_URL=http://localhost:50056

# JWT_SECRET phải GIỐNG HỆT với user-service.
JWT_SECRET=replace-with-strong-random-secret-min-256-bits
